 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 div {
     height: 50vh;
     width: 50vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: 1px solid black;
 }

 input {
     height: 50px;
     width: 200px;
     border: 2px solid #7dffcb;
     font-size: x-large;
     outline-color: #7dffcb;
     padding-left: 20px;
 }

 p {
     text-align: center;
     font-size: x-large;
     margin-top: 20px;
 }

